body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1509099836639-18ba1795216d');
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 70px;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(58, 59, 58, 0.5);
  z-index: 1;
  
}

.hero-section .content {
  z-index: 2;
  position: relative;
}
.about-us ul {
  padding-left: 1.5rem;
}

.about-us li {
  margin-bottom: 0.5rem;
}
